/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
}
.row [class*=col-] {
  min-height: 1px;
}
@media (max-width: 792px) {
  .row [class*=col-] {
    flex-basis: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

.header__logo {
  color: #08a6e4;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

.section {
  padding: 100px 0;
}
.section .section__title {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: center;
}

.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999999;
}
.header .header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #08a6e4;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
  padding-left: 0.5rem;
}

nav {
  height: 100%;
}
nav .header__nav {
  height: 100%;
  display: flex;
}
nav .header__nav .nav__element {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
}
nav .header__nav .nav__element:last-child {
  padding-right: 0;
}
nav .header__nav .nav__element .nav__link {
  text-decoration: none;
  font-size: 0.75rem;
  color: #a5a5a5;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  padding: 1.6rem 0;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
nav .header__nav .nav__element .nav__link:hover {
  border-bottom: 4px solid #08a6e4;
  color: black;
}

@media (max-width: 792px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
nav .menu__btn {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}
nav .menu__toggle {
  display: none;
  margin: auto 0;
}
nav .menu__toggle span {
  width: 30px;
  height: 4px;
  display: block;
  margin-bottom: 4px;
  background-color: #08a6e4;
  transition: 0.3s all ease-in-out;
}
nav .menu__toggle span:last-child {
  margin-bottom: 0;
}
@media (max-width: 792px) {
  nav .menu__toggle {
    display: block;
  }
}

@media (max-width: 792px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    box-shadow: none;
  }
  .header::after {
    position: absolute;
    top: 95%;
    content: "";
    width: 100%;
    height: 6px;
    background-color: transparent;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.16) inset;
  }
}
@media (max-width: 792px) {
  .header .menu__btn:checked ~ .header__nav {
    display: flex;
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(2) {
    opacity: 0;
  }
  .header .menu__btn:checked ~ .menu__toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
  }
}
@media (max-width: 792px) {
  .header .header__nav {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    width: 100%;
    height: auto;
    padding-left: 1rem;
    display: none;
  }
  .header .header__nav .nav__element {
    padding: 0;
  }
  .header .header__nav .nav__element .nav__link {
    display: block;
    border-bottom: none;
    padding: 1rem 0;
  }
  .header .header__nav .nav__element .nav__link:hover {
    border-bottom: none;
    font-weight: 700;
  }
}

.hero {
  height: calc(100vh - 70px);
}
.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero .container .hero__intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero .container .hero__intro .hero__title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  padding: 2rem 0 1rem 0;
}
@media (max-width: 792px) {
  .hero .container .hero__intro .hero__title {
    font-size: 2rem;
  }
}
.hero .container .hero__intro .hero__text {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 2rem;
}
.hero .container .hero__intro .hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  padding: 1.3rem;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  border-radius: 40px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  transition: all 0.5s;
}
.hero .container .hero__intro .hero__link:hover {
  background-color: #0b7fad;
}
@media (max-width: 792px) {
  .hero .container .hero__intro .hero__link {
    width: 80%;
  }
}
.hero .container .hero__photo {
  width: 100%;
  height: 60%;
}
.hero .container .hero__photo .hero__photo-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section__row {
  max-width: 1132px;
  margin: 0 auto;
}
.section__row .stat__column {
  padding: 30px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.section__row .stat__column .stat__icon {
  position: relative;
}
.section__row .stat__column .stat__icon .stat__bg {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}
.section__row .stat__column .stat__icon .stat__bg.left {
  background-color: #fb3b64;
}
.section__row .stat__column .stat__icon .stat__bg.middle {
  background-color: #08a6e4;
}
.section__row .stat__column .stat__icon .stat__bg.right {
  background-color: #55dfb4;
}
.section__row .stat__column .stat__icon .stat__svg {
  position: absolute;
}
.section__row .stat__column .stat__icon .stat__svg.left {
  top: 8%;
  left: 50%;
}
.section__row .stat__column .stat__icon .stat__svg.middle {
  top: 23%;
  left: 29%;
}
.section__row .stat__column .stat__icon .stat__svg.right {
  top: 10%;
  left: 48%;
}
.section__row .stat__column .stat__number {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
.section__row .stat__column .stat__text {
  width: 130px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #a5a5a5;
  text-align: center;
}

.benefits {
  width: 100%;
  padding: 100px 0;
  background-color: #f7f7f7;
}
@media (max-width: 1024px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits .container .benefit {
  min-height: 370px;
  max-width: 1124px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}
.benefits .container .benefit.middle {
  flex-direction: row-reverse;
}
.benefits .container .benefit.bottom {
  border: none;
  background-color: #f7f7f7;
}
@media (max-width: 1024px) {
  .benefits .container .benefit {
    flex-direction: column;
  }
  .benefits .container .benefit.middle {
    flex-direction: column;
  }
}

.benefit__content {
  flex-basis: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.benefit__content.bottom {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  background-color: white;
}
.benefit__content .benefit__title {
  text-align: left;
  margin-bottom: 30px;
}
.benefit__content .benefit__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .benefit__content .benefit__text {
    margin-bottom: 0;
  }
}
.benefit__content .benefit__line {
  width: 330px;
  height: 4px;
}
.benefit__content .benefit__line.top {
  background-color: #fb3b64;
}
.benefit__content .benefit__line.middle {
  background-color: #08a6e4;
}
.benefit__content .benefit__line.bottom {
  background-color: #55dfb4;
}
@media (max-width: 1024px) {
  .benefit__content .benefit__line {
    display: none;
  }
}

.benefit__graphic {
  flex-basis: 50%;
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.benefit__graphic.bottom {
  flex-basis: 40%;
}
.benefit__graphic .benefit__img {
  z-index: 1;
}
.benefit__graphic .benefit__img.top {
  width: 80%;
  height: auto;
}
.benefit__graphic .benefit__img.middle {
  width: 80%;
  height: auto;
}
.benefit__graphic .benefit__img.bottom {
  width: 70%;
  height: auto;
}
.benefit__graphic .benefit__shape {
  position: absolute;
}
.benefit__graphic .benefit__shape.top {
  width: 40%;
  height: 55%;
  background-color: #fb3b64;
  border-radius: 50px;
  top: 20%;
  left: 47%;
  transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .benefit__graphic .benefit__shape.top {
    top: 7%;
  }
}
.benefit__graphic .benefit__shape.middle {
  width: 60%;
  height: 90%;
  background-color: #08a6e4;
  border-radius: 50%;
  top: 5%;
  left: 13%;
}
.benefit__graphic .benefit__shape.bottom {
  height: 100%;
  width: 100%;
  background-color: #55dfb4;
  border-radius: 5px;
  top: 0%;
}

@media (max-width: 1024px) {
  .price {
    padding: 30px 0;
  }
}

.price__title {
  margin-bottom: 60px;
  text-align: center;
}

.price__row {
  max-width: 1266px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .price__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.price__row .price__column {
  border-radius: 18px;
  flex-basis: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1024px) {
  .price__row .price__column {
    padding: 20px 10px;
    width: 90%;
    margin-bottom: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.price__row .price__column .column__general {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.price__row .price__column .column__general .package {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1.5rem 0;
}
.price__row .price__column .column__general .pricing {
  font-weight: 300;
  font-size: 2.5rem;
  padding-bottom: 15px;
}
.price__row .price__column .column__general .offer {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 50px;
}
.price__row .price__column .column__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.price__row .price__column .column__details .mb,
.price__row .price__column .column__details .subdomain,
.price__row .price__column .column__details .emails,
.price__row .price__column .column__details .license,
.price__row .price__column .column__details .support {
  font-size: 0.9rem;
  padding-bottom: 20px;
  position: relative;
}
.price__row .price__column .column__details .support {
  padding-bottom: 60px;
}
@media (max-width: 1024px) {
  .price__row .price__column .column__details .support {
    padding-bottom: 0;
  }
}
.price__row .price__column .column__details .mb::before,
.price__row .price__column .column__details .subdomain::before,
.price__row .price__column .column__details .emails::before,
.price__row .price__column .column__details .license::before,
.price__row .price__column .column__details .support::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(../assets/checkmark-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 2px;
  left: -15px;
}
.price__row .price__column .button {
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  position: absolute;
  top: 94%;
}
@media (max-width: 1024px) {
  .price__row .price__column .button {
    top: 89%;
  }
}

.basic.price__column {
  border: 1px solid #fb3b64;
}
.basic.price__column .column__general .col .pricing {
  color: #fb3b64;
  padding-bottom: 30px;
}
.basic.price__column .column__details .license::before {
  background-image: url(../assets/close.svg);
}
.basic.price__column .column__details .support::before {
  background-image: url(../assets/close.svg);
}
.basic.price__column .button {
  background-color: #fb3b64;
}

/*  Price - professional */
.professional.price__column {
  flex-basis: 33%;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
  border: 1px solid #08a6e4;
}
@media (max-width: 1024px) {
  .professional.price__column {
    width: 100%;
  }
}
.professional.price__column .package {
  padding: 26px 0;
}
.professional.price__column .pricing {
  color: #08a6e4;
}
.professional.price__column .column__details .support::before {
  background-image: url(../assets/close.svg);
}
.professional.price__column .button {
  background-color: #08a6e4;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
}

/* Price - premium */
.premium.price__column {
  border: 1px solid #55dfb4;
}
.premium.price__column .pricing.premium {
  color: #55dfb4;
}
.premium.price__column .button.premium {
  background-color: #55dfb4;
}

/* Contact */
@media (max-width: 1024px) {
  .contact {
    padding: 30px 0;
  }
}
.contact .contact__row {
  max-width: 896px;
  margin: 0 auto;
}

.contact__column {
  flex-basis: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact__column .contact__title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin-bottom: 22px;
}
@media (max-width: 1024px) {
  .contact__column .contact__title {
    font-size: 2.2rem;
  }
}
.contact__column .contact__text {
  font-size: 1rem;
  margin-bottom: 42px;
}
.contact__column .contact__ways {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .contact__column .contact__ways {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
  }
}
.contact__column .contact__ways .contact__email-address,
.contact__column .contact__ways .contact__phone {
  font-weight: 700;
  font-size: 1rem;
  color: #a5a5a5;
  margin: 10px 10px 10px 40px;
  position: relative;
}
@media (max-width: 1024px) {
  .contact__column .contact__ways .contact__email-address,
.contact__column .contact__ways .contact__phone {
    margin-left: 10px;
  }
}
.contact__column .contact__ways .contact__email-address::before {
  content: "";
  background-image: url(../assets/mail-icon.svg);
  width: 27px;
  height: 27px;
  position: absolute;
  top: -33%;
  left: -21%;
}
.contact__column .contact__ways .contact__phone::before {
  content: "";
  background-image: url(../assets/phone-icon.svg);
  width: 27px;
  height: 27px;
  position: absolute;
  top: -35%;
  left: -33%;
}

.contact__form .contact__name,
.contact__form .contact__email {
  display: flex;
  flex-direction: column;
}
.contact__form .contact__name-label,
.contact__form .contact__email-label {
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #08a6e4;
  margin-top: 5px;
}
.contact__form .contact__name-input,
.contact__form .contact__email-input {
  border: none;
  border-bottom: 1px solid #95989a;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .contact__form .contact__name-input,
.contact__form .contact__email-input {
    margin-bottom: 20px;
  }
}
.contact__form .contact__name-input:focus,
.contact__form .contact__email-input:focus {
  border-bottom: 2px solid black;
  outline: none;
}
.contact__form .contact__consent .contact__consent-label {
  display: flex;
  cursor: pointer;
  font-size: 0.75rem;
  color: #707070;
  margin-bottom: 20px;
}
.contact__form .contact__consent .contact__consent-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contact__form .contact__consent .contact__consent-span {
  flex-basis: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1px solid #95989a;
  border-radius: 4px;
  margin-right: 15px;
}
.contact__form .contact__consent .contact__consent-checkbox:checked + .contact__consent-span {
  background-image: url(../assets/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 6rem;
  border-radius: 35px;
  border: none;
  background-color: #08a6e4;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
}
.contact__button .contact__button:hover {
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}
@media (max-width: 1024px) {
  .contact__button {
    align-self: flex-end;
  }
}

.footer {
  height: 89px;
  background-color: #f7f7f7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.16);
}
.footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}
.footer__text .footer__logo {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  color: #08a6e4;
  margin-top: 20px;
  margin-bottom: 7px;
}
.footer__text .footer__copy {
  font-size: 0.7rem;
  color: #a5a5a5;
}

.footer__icons {
  display: flex;
  align-items: center;
}
.footer__icons .footer__icons--tw,
.footer__icons .footer__icons--fb {
  width: 24px;
  height: 24px;
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */
