@use "sass:math";

$columns: 12;

@for $i from 1 through 12 {
  .col-#{$i} {
    width: math.div(100%, $columns) * $i;
  }
}

.row {
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  [class*="col-"] {
    min-height: 1px;
    border: 2px solid green;
    @include mobile {
      flex-basis: 100%;
    }
  }
}
