//Colors:
$colorAccent: rgba(8, 166, 228, 1);
$colorAccentShadow: rgba(7, 172, 230, 0.16);
$colorAccentHover: rgb(11, 127, 173);
$colorBgPrimary: rgba(255, 255, 255, 1);
$colorBgSecondary: rgba(247, 247, 247, 1);
$colorBorderPrimary: rgba(232, 233, 237, 1);
$colorBoxShadow: rgb(0, 0, 0, 0.16);
$colorFontSecondary: rgba(165, 165, 165, 1);
$colorFontPrimary: rgba(0, 0, 0, 1);
$colorGraphic1: rgba(251, 59, 100, 1);
$colorGraphic2: rgba(85, 223, 180, 1);
$colorInput: rgba(149, 152, 154, 1);
$colorCheckbox: rgba(112, 112, 112, 1);

// Fonts
$fontPrimary: "Open Sans", sans-serif;
$fontSecondary: "Raleway", sans-serif;
