:root {
  // --color-primary: rgba(8, 166, 228, 1);
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: rgba(251, 59, 100, 1);
  --color-green: rgba(85, 223, 180, 1);
  --color-grey: rgba(165, 165, 165, 1);
  --color-light-grey: rgba(232, 233, 237, 1);
  // --color-white: rgba(255, 255, 255, 1);
  // --color-black: rgba(0, 0, 0, 1);
  // --color-black-shadow: rgba(0, 0, 0, 0.16);
  // --color-bg: rgba(247, 247, 247, 1);
  --color-consent: rgba(112, 112, 112, 1);
  --color-input: rgba(149, 152, 154, 1);
}

// Fonts
$fontPrimary: "Open Sans", sans-serif;
$fontSecondary: "Raleway", sans-serif;

//Colors:
$colorAccent: rgba(8, 166, 228, 1);
$colorBgPrimary: rgba(255, 255, 255, 1);
$colorBgSecondary: rgba(247, 247, 247, 1);
$colorBoxShadow: rgb(0, 0, 0, 0.16);
$colorFontSecondary: rgba(165, 165, 165, 1);
$colorFontPrimary: rgba(0, 0, 0, 1);
