* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  @include notebook {
    width: 100%;
    padding: 0 1rem;
  }
}

.header__logo {
  color: $colorAccent;
  font-family: $fontSecondary;
  font-size: 2rem;
}

// General section styling

.section {
  padding: 100px 0;
  .section__title {
    font-family: $fontSecondary;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
  }
}
