.footer {
  height: 89px;
  background-color: $colorBgSecondary;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.16);
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.footer__text {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  .footer__logo {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $fontSecondary;
    color: $colorAccent;
    margin-top: 20px;
    margin-bottom: 7px;
  }
  .footer__copy {
    font-size: 0.7rem;
    color: $colorFontSecondary;
  }
}

.footer__icons {
  display: flex;
  align-items: center;
  .footer__icons--tw,
  .footer__icons--fb {
    width: 24px;
    height: 24px;
    margin: 10px;
  }
}
