//Desktop
.header {
  height: 70px;
  box-shadow: 0 3px 6px $colorBoxShadow;
  background-color: $colorBgPrimary;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999999;
  .header__container {
    height: 100%;
    @include flexRSBC;
  }
}

.logo {
  text-decoration: none;
  color: $colorAccent;
  font-family: $fontSecondary;
  font-size: 2rem;
  font-weight: normal;
  text-align: left;
  padding-left: 0.5rem;
}

nav {
  height: 100%;
  .header__nav {
    height: 100%;
    display: flex;
    .nav__element {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 2.5rem;
      &:last-child {
        padding-right: 0;
      }
      .nav__link {
        text-decoration: none;
        font-size: 0.75rem;
        color: $colorFontSecondary;
        text-transform: uppercase;
        letter-spacing: 3.5px;
        padding: 1.6rem 0;
        border-bottom: 4px solid transparent;
        transition: all 0.5s;
        &:hover {
          border-bottom: 4px solid $colorAccent;
          color: $colorFontPrimary;
        }
      }
    }
  }
}

// Input

nav {
  @include mobile {
    @include flexRCC;
  }
  .menu {
    &__btn {
      display: none;
      position: absolute;
      top: -9999px;
      left: -9999px;
      opacity: 0;
    }
    &__toggle {
      display: none;
      margin: auto 0;
      span {
        width: 30px;
        height: 4px;
        display: block;
        margin-bottom: 4px;
        background-color: $colorAccent;
        transition: 0.3s all ease-in-out;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include mobile {
        display: block;
      }
    }
  }
}

//Mobile
.header {
  @include mobile {
    position: sticky;
    box-shadow: none;
    &::after {
      position: absolute;
      top: 95%;
      content: "";
      width: 100%;
      height: 6px;
      background-color: transparent;
      box-shadow: 0 -2px 3px $colorBoxShadow inset;
    }
  }
  .menu {
    &__btn {
      @include mobile {
        &:checked {
          ~ .header__nav {
            display: flex;
          }
          ~ .menu__toggle {
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 6px);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -7px);
              }
            }
          }
        }
      }
    }
  }
  .header__nav {
    @include mobile {
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: white;
      width: 100%;
      height: auto;
      padding-left: 1rem;
      display: none;
      .nav__element {
        padding: 0;
        .nav__link {
          display: block;
          border-bottom: none;
          padding: 1rem 0;
          &:hover {
            border-bottom: none;
            font-weight: 700;
          }
        }
      }
    }
  }
}
