//Desktop
.hero {
  height: calc(100vh - 70px);
  border: 2px solid blue;
  @include flexColSB;
  .container {
    border: 2px solid orange;
    @include flexColSB;
  }
  &__title {
    font-family: $fontSecondary;
    font-size: 3rem;
    // margin-bottom: 20px;
    padding: 1.5rem 0;
  }
  &__text {
    font-size: 1rem;
    margin-bottom: 38px;
    text-align: center;
  }
  &__link {
    @include flexCC;
    width: 440px;
    height: 67px;
    background-color: $colorAccent;
    box-shadow: 5px 10px 14px $colorAccentShadow;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    margin: 0 2rem;
    transition: all 0.5s;
    &:hover {
      background-color: $colorAccentHover;
    }
  }
}

.hero__photo-img {
  border: 2px solid red;
  // display: flex;
  width: 100%;
  // objecte-fit?
}

// dla mobile jeszcze obciąć zdjęcie będzie trzeba
//od tableta przycinać zdjecie, zmianic czniksoni na mniejsze i ostatecznie button na max 310px
