//Desktop
.hero {
  height: calc(100vh - 70px);
  // border: 2px solid blue;  //*do usuniecia
  .container {
    height: 100%;
    @include flexColSBC;
    // border: 2px solid orange; //*do usuniecia
    .hero__intro {
      flex-grow: 1;
      @include flexColSAC;
      // border: 2px solid violet; //*do usunięcia
      .hero__title {
        font-family: $fontSecondary;
        font-size: 3rem;
        padding: 2rem 0 1rem 0;
        // Mobile
        @include mobile {
          font-size: 2rem;
        }
      }
      .hero__text {
        font-size: 1rem;
        text-align: center;
        padding: 1rem 2rem;
      }
      .hero__link {
        @include flexRCC;
        width: 440px;
        padding: 1.3rem;
        background-color: $colorAccent;
        box-shadow: 5px 10px 14px $colorAccentShadow;
        border-radius: 40px;
        font-weight: bold;
        font-size: 1rem;
        color: #fff;
        transition: all 0.5s;
        &:hover {
          background-color: $colorAccentHover;
        }
        //Mobile
        @include mobile {
          width: 80%;
        }
      }
    }
    .hero__photo {
      width: 100%;
      height: 60%;
      .hero__photo-img {
        border: 2px solid red;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
