.price {
  border: 1px solid blue;
  //Tablet
  @include tablet {
    padding: 30px 0;
  }
}

.price__title {
  margin-bottom: 60px;
  text-align: center;
}

.price__row {
  border: 1px solid paleturquoise;
  max-width: 1266px;
  margin: 0 auto;
  @include flexRSBC;
  //Tablet
  @include tablet {
    @include flexColFSC;
  }
  .price__column {
    border-radius: 18px;
    flex-basis: 30%;
    position: relative;
    @include flexColFSC;
    //Tablet
    @include tablet {
      padding: 20px 10px;
      width: 90%;
      margin-bottom: 40px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    .column__general {
      @include flexColFSC;
      .package {
        font-family: $fontSecondary;
        font-weight: bold;
        font-size: 1.25rem;
        margin: 1.5rem 0;
      }
      .pricing {
        font-weight: 300;
        font-size: 2.5rem;
        padding-bottom: 15px;
      }
      .offer {
        font-family: $fontSecondary;
        font-size: 0.9rem;
        margin-bottom: 50px;
      }
    }
    .column__details {
      @include flexColFSC;
      .mb,
      .subdomain,
      .emails,
      .license,
      .support {
        font-size: 0.9rem;
        padding-bottom: 20px;
        position: relative;
      }
      .support {
        padding-bottom: 60px;
        @include tablet {
          padding-bottom: 0;
        }
      }
      .mb::before,
      .subdomain::before,
      .emails::before,
      .license::before,
      .support::before {
        content: "";
        width: 10px;
        height: 10px;
        background-image: url(../assets/checkmark-1.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 2px;
        left: -15px;
      }
    }
    .button {
      width: 150px;
      height: 50px;
      border-radius: 23px;
      border: none;
      @include flexRCC;
      font-size: 0.8rem;
      color: $colorBgPrimary;
      position: absolute;
      top: 94%;
      @include tablet {
        top: 89%;
      }
    }
  }
}

// /* Price - basic */

.basic {
  &.price__column {
    border: 1px solid $colorGraphic1;
    .col .pricing {
      color: $colorGraphic1;
      padding-bottom: 30px;
    }
    .license {
      &::before {
        background-image: url(../assets/close.svg);
      }
    }
    .support {
      &::before {
        background-image: url(../assets/close.svg);
      }
    }
    .button {
      background-color: $colorGraphic1;
    }
  }
}

/*  Price - professional */
.professional {
  &.price__column {
    flex-basis: 33%;
    box-shadow: 5px 10px 27px $colorAccentShadow;
    border: 1px solid $colorAccent;
    @include tablet {
      width: 100%;
    }
    .package {
      padding: 26px 0;
    }
    .pricing {
      color: $colorAccent;
    }
    .support {
      &::before {
        background-image: url(../assets/close.svg);
      }
    }
    .button {
      background-color: $colorAccent;
      box-shadow: 5px 10px 27px $colorAccentShadow;
    }
  }
}

/* Price - premium */
.premium {
  &.price__column {
    border: 1px solid $colorGraphic2;
    .pricing.premium {
      color: $colorGraphic2;
    }
    .button.premium {
      background-color: $colorGraphic2;
    }
  }
}
